<!DOCTYPE html>
<html lang="en">
<head>

  <title>Divanta About Us</title>
  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon/favicon.ico">
<!-- Libs CSS -->
<link href="assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
<link href="assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet" />
<link href="assets/libs/slick-carousel/slick/slick.css" rel="stylesheet" />
<link href="assets/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet" />
<link href="assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
<link href="assets/libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
<link href="assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
<link href="assets/libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
<link href="assets/libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">

<!-- Theme CSS -->
<link rel="stylesheet" href="assets/css/theme.min.css">
</head>

<body>
  <style>
    .fa.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
  </style>
   <header>

    <div class="navbar navbar-light py-lg-4 pt-3 px-0 pb-0">
      <div class="container">
        <div class="row w-100 align-items-center g-lg-2 g-0">
          <div class="col-xxl-2 col-lg-3">
            <a class="navbar-brand d-none d-lg-block" href="index.html">
              <img src="assets/images/logo/6.png" style="width:200px">
            </a>
            <div class="d-flex justify-content-between w-100 d-lg-none">
              <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo/6.png" style="width:200px">
              </a>
              <div class="d-flex align-items-center lh-1">

                <div class="list-inline me-2">
                  <div class="list-inline-item">

                    <a href="account-history.html"><i class='fa fa-user' style="font-size:20px;    
                     color:#284b70"></i></a>
                  </div>
                  <div class="list-inline-item">
                    <a href="favorites.html" class="text-muted position-relative"><i class="fa fa-heart"
                      style="font-size:20px; color:red"></i>
                    <span class="position-absolute translate-middle badge rounded-pill bg-success">
                      2
                    </span>
                  </a>
                  </div>

                </div>
                <!-- Button -->
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="icon-bar top-bar mt-0"></span>
                  <span class="icon-bar middle-bar"></span>
                  <span class="icon-bar bottom-bar"></span>
                </button>

              </div>
            </div>

          </div>
          <div class="col-xxl-6 col-lg-5 d-none d-lg-block">
            <form action="#">
              <div class="input-group">
                <input type="text" class="form-control" id="inputModalSearch" name="query" placeholder="Search ..." >
                <button type="submit" name=search class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
            </form>
          </div>
          <div class="col-md-2 col-xxl-3 d-none d-lg-block">
          </div>
          <div class="col-md-2 col-xxl-1 text-end d-none d-lg-block">
            <div class="list-inline">
              <div class="list-inline-item">
                <a href="favorites.html" class="text-muted position-relative"><i class="fa fa-heart"
                  style="font-size:20px; color:red"></i>
                <span class="position-absolute translate-middle badge rounded-pill bg-success">
                  2
                </span>
              </a>
              </div>
              <div class="list-inline-item">

                <a href="account-history.html"><i class='fa fa-user' style="font-size:20px; color:#284b70"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="border-bottom pb-lg-4 pb-3">
    <nav class="navbar navbar-expand-lg navbar-light navbar-default pt-0 pb-0">
      <div class="container px-0 px-md-3">
        <div class="offcanvas offcanvas-start p-4 p-lg-0" id="navbar-default">

          <div class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none">
            <a href="index-2.html"> <img src="../view/assets/images/logo/6.png" style="width:200px"></a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="d-none d-lg-block">
            <ul class="navbar-nav ">
              <li class="nav-item dropdown">
                <a class="nav-link" href="index.html" role="button">
                  Home
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="cars.html"><img src='../images/01.png' style="height:30px; width:30px;">
                      &nbsp; Cars</a></li>
                  <li><a class="dropdown-item" href="jewelries.html"><img src='../images/02.png' style="height:30px; width:30px;">
                      &nbsp; Jewelries</a></li>
                  <li><a class="dropdown-item" href="watches.html"><img src='../images/03.png' style="height:30px; width:30px;">
                      &nbsp; Watches</a></li>
                  <li><a class="dropdown-item" href="electronics.html"><img src='../images/04.png' style="height:30px; width:30px;">
                      &nbsp; Electronics</a></li>
                  <li><a class="dropdown-item" href="sports.html"><img src='../images/05.png' style="height:30px; width:30px;">
                      &nbsp; Sports</a></li>
                  <li><a class="dropdown-item" href="houses.html"><img src='../images/06.png' style="height:30px; width:30px;">
                      &nbsp; Houses</a></li>
                  <li><a class="dropdown-item" href="arts.html"><img src='../images/07.png' style="height:30px; width:30px;">
                      &nbsp; Art</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Auctions Ending
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="live_auction.html" role="button">
                 Live Auction
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="about.html" role="button">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html" role="button" aria-expanded="false">
                  Contact
                </a>
              </li>
            </ul>
          </div>
          <div class="d-block d-lg-none">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <form action="#">
                  <div class="input-group">
                    <input type="text" class="form-control" id="inputModalSearch" name="query" placeholder="Search ..." >
                    <button type="submit" name=search class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
                </form>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html">
                  Home
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="cars.html"><img src='../images/01.png' style="height:30px; width:30px;">
                      &nbsp; Cars</a></li>
                  <li><a class="dropdown-item" href="electronics.html"><img src='../images/02.png' style="height:30px; width:30px;">
                      &nbsp; Jewelries</a></li>
                  <li><a class="dropdown-item" href="electronics.html"><img src='../images/03.png' style="height:30px; width:30px;">
                      &nbsp; Watches</a></li>
                  <li><a class="dropdown-item" href="electronics.html"><img src='../images/04.png' style="height:30px; width:30px;">
                      &nbsp; Electronics</a></li>
                  <li><a class="dropdown-item" href="electronics.html"><img src='../images/05.png' style="height:30px; width:30px;">
                      &nbsp; Sports</a></li>
                  <li><a class="dropdown-item" href="sports.html"><img src='../images/06.png' style="height:30px; width:30px;">
                      &nbsp; Houses</a></li>
                  <li><a class="dropdown-item" href="electronics.html"><img src='../images/07.png' style="height:30px; width:30px;">
                      &nbsp; Art</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Auction Ending
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="live_auction.html" role="button" aria-expanded="false">
                  Live Auction
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html" role="button" aria-expanded="false">
                  About Us
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="contact.html" role="button">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <main>
  <!-- section -->
  <section class="mt-lg-14 mt-8">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="offset-lg-1 col-lg-10 col-12">
          <div class="row align-items-center mb-14">
            <div class="col-md-6">
              <!-- text -->
              <div class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start">
                <h1 class="mb-6">Why Choose Us?</h1>
                <p><img src="assets/images/about/10.png" style=" width:100px">Providing you with the best products</p>
                <p><img src="assets/images/about/6.png" style=" width:100px">Trusted by Thousands</p>
                <p><img src="assets/images/about/8.png" style=" width:100px">We are available 24/7</p>
                <p><img src="assets/images/about/9.png" style=" width:100px">Providing you with wide range of buyers/sellers</p>
              </div>
            </div>
            <!-- col -->
            <div class="col-md-6">
              <div class=" me-6">
                <!-- img -->
                <img src="assets/images/about/7.png" alt="" class="img-fluid rounded-3">
              </div>
            </div>

          </div>
          <!-- row -->
          <div class="row mb-12">
            <div class="col-12">
              <div class="mb-8">
                <!-- heading -->
                <h2 style="text-align:center">How it works for Buyers/Bidders</h2>
              </div>
            </div>
            <div class="col-md-4">
              <!-- card -->
              <div class="card bg-light mb-6 border-0">
                <!-- card body -->
                <div class="card-body p-8" style="background-color:#011b42;">
                  <div class="mb-4">
                    <!-- img -->
                    <center><img src="assets/images/about/1.png" style="height:100px;"></center>
                  </div>
                  <h4 style="text-align:center; color:white">Sign Up</h4>
                  <p class="text-white">Click on the sign up button and create an account</p>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <!-- card -->
              <div class="card bg-light mb-6 border-0">
                <!-- card body -->
                <div class="card-body p-8"style="background-color:#011b42;">
                  <div class="mb-4">
                    <!-- img -->
                    <center><img src="assets/images/about/2.png" style="height:100px;"></center>
                  </div>
                  <h4 style="text-align:center; color:white">Bid Or Buy Product</h4>
                  <p class="text-white">Users have the ability to bid or buy a product</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- card -->
              <div class="card bg-light mb-6 border-0">
                <!-- card body -->
                <div class="card-body p-8"style="background-color:#011b42;">
                  <div class="mb-4">
                    <!-- img -->
                    <center><img src="assets/images/about/3.png" style="height:100px;"></center>
                  </div>
                  <h4 style="text-align:center; color:white">Win the product</h4>
                  <p class="text-white">Stand a chance to win products at cool prices </p>
                </div>

              </div>
            </div>
            <div class="col">
              <!-- text -->
              <p>For assistance using divanta services, please visit our <a href="contact.html">Help Center</a></p>
            </div>

          </div>
          <!-- row -->
          <div class="row mb-12">
            <div class="col-12">
              <div class="mb-8">
                <!-- heading -->
                <h2 style="text-align:center;">How it works for Sellers</h2>
              </div>
            </div>
            <div class="col-md-4">
              <!-- card -->
              <div class="card bg-light mb-6 border-0">
                <!-- card body -->
                <div class="card-body p-8" style="background-color: #5d8574;">
                  <div class="mb-4">
                    <!-- img -->
                    <center><img src="assets/images/about/1.png" style="height:100px;"></center>
                  </div>
                  <h4 style="text-align:center; color:white">Sign Up</h4>
                  <p class="text-white">Click on the sign up button and create an account</p>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <!-- card -->
              <div class="card bg-light mb-6 border-0">
                <!-- card body -->
                <div class="card-body p-8"style="background-color: #5d8574;">
                  <div class="mb-4">
                    <!-- img -->
                    <center><img src="assets/images/about/4.png" style="height:100px;"></center>
                  </div>
                  <h4 style="text-align:center;color:white">Upload Product</h4>
                  <p class="text-white">Sellers can upload products as much as you want</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- card -->
              <div class="card bg-light mb-6 border-0">
                <!-- card body -->
                <div class="card-body p-8"style="background-color: #5d8574;">
                  <div class="mb-4">
                    <!-- img -->
                    <center><img src="assets/images/about/5.png" style="height:100px;"></center>
                  </div>
                  <h4 style="text-align:center; color:white">Make Money</h4>
                  <p class="text-white">Get notify when item as been purchased or been bid by the highest bidder</p>
                </div>

              </div>
            </div>
            <div class="col">
              <!-- text -->
              <p>For assistance using divanta services, please visit our <a href="contact.html">Help Center</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section -->
  <section class="bg-success py-14">

    <div class="container">
      <div class="row">
        <!-- col -->
        <div class="offset-lg-1 col-lg-10">
          <div class="row">
            <!-- col -->
            <div class="col-xl-4 col-md-6">
              <div class="text-white me-8 mb-12">
                <!-- text -->
                <h2 class="text-white mb-4 ">Trusted by Sellers. Loved by consumers</h2>
                <p>We provide everyone the access to sell or buy products</p>
              </div>

            </div>
            <div class="row">
              <!-- col -->
              <div class="col mb-4 mb-md-0">
                <h3 class="display-5 fw-bold text-white mb-0">10M+</h3>
                <span class="fs-6 text-white">Users</span>
              </div>
              <!-- col -->
              <div class="col mb-4 mb-md-0">
                <h3 class="display-5 fw-bold text-white mb-0">500k+</h3>
                <span class="fs-6 text-white">Products</span>
              </div>
              <!-- col -->
              <div class="col mb-4 mb-md-0">
                <h3 class="display-5 fw-bold text-white mb-0">40k+</h3>
                <span class="fs-6 text-white">Sellers</span>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section -->
  <section class="mt-14">
    <!-- container -->
    <div class="container">
      <div class="row" style="margin-bottom:100px">
          <div class="mb-11">
            <h1 style="text-align:center">Meet The Team</h1>
        </div>
      <div class="col-md-4">
          <img src="assets/images/about/ayeyi.jpg" style="border-radius:50%; width:250px; height:250px"alt="" >
          <div class="p-6">
            <h5 class="h6 mb-0">Nana Kofi Boakye</h5>
            <small>Operating Manager</small>
          </div>
      </div>
      <div class="col-md-4">
        <img src="assets/images/about/dra.png" style="border-radius:50%; width:250px; height:250px"alt="" >
        <div class="p-6">
          <h5 class="h6 mb-0">Dramani Alhassan</h5>
          <small>Chief Executive Officer</small>
        </div>
    </div>
    <div class="col-md-4">
      <img src="assets/images/about/mic.jpg" style="border-radius:50%; width:250px; height:250px"alt="" >
      <div class="p-6">
        <h5 class="h6 mb-0">Alvin Nutor</h5>
        <small>Chief Financial Officer</small>
      </div>
  </div>
      </div>
      </div>
    
  </section>
</main>
   <!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
          <div class="col-md-3">
            <h3 class="mb-4 text-white">Categories</h3>
            <ul class="nav flex-column border-top py-4">
              <li class="nav-item mb-2"><a href="electronics.html" class="nav-link"><img src='../images/01.png' style="height:30px; width:30px"> Cars</span></a></li>
              <li class="nav-item mb-2"><a href="electronics.html" class="nav-link"><img src='../images/02.png' style="height:30px; width:30px"> Jewelries</a></li>
              <li class="nav-item mb-2"><a href="electronics.html" class="nav-link"><img src='../images/03.png' style="height:30px; width:30px"> Watches</a></li>
              <li class="nav-item mb-2"><a href="electronics.html" class="nav-link"><img src='../images/04.png' style="height:30px; width:30px"> Electronics</a></li>
              <li class="nav-item mb-2"><a href="electronics.html" class="nav-link"><img src='../images/05.png' style="height:30px; width:30px"> Sports</a></li>
              <li class="nav-item mb-2"><a href="electronics.html" class="nav-link"><img src='../images/06.png' style="height:30px; width:30px"> Houses</a></li>
              <li class="nav-item mb-2"><a href="electronics.html" class="nav-link"><img src='../images/07.png' style="height:30px; width:30px"> Art</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="mb-4 text-white">Further Information</h3>
            <ul class="nav flex-column border-top py-4">
              <li class="nav-item mb-2"><a href="#!" class="nav-link">FAQ</a></li>
              <li class="nav-item mb-2"><a href="#!" class="nav-link">Want to donate?</a></li>
              <li class="nav-item mb-2"><a href="../login/seller_register.html" class="nav-link">Want to be a seller?</a></li>
              <li class="nav-item mb-2"><a href="#!" class="nav-link">Want to Report?</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="mb-4 text-white">Get to know us</h3>
            <ul class="nav flex-column border-top py-4">
              <li class="nav-item mb-2"><a href="about.html" class="nav-link">Company</a></li>
              <li class="nav-item mb-2"><a href="about.html" class="nav-link">About</a></li>
              <li class="nav-item mb-2"><a href="contact.html" class="nav-link">Help Center</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="mb-4 text-white">Reach us on</h3>
            <ul class="nav flex-column border-top py-4">
              <li class="nav-item mb-2"><a href="https://wa.me/233553058208"><i class="fa fa-twitter fa-2x" style="color:#4169e1"></i> <span class='text-white'>Twitter</span></a></li>
              <li class="nav-item mb-2"><a href="https://wa.me/233553058208"><i class="fa fa-instagram fa-2x"></i><span class='text-white'>&nbsp; Instagram</span></a></li>
              <li class="nav-item mb-2">  <a href="https://wa.me/233553058208"><i class="fa fa-whatsapp fa-2x"style="color:green"></i> <span class='text-white'>&nbsp;WhatsApp</span></a></li>
            </ul>
          </div>
        
      </div>
    </div>
    <div class="border-top py-4">
      <div class="row align-items-center" >
        <div class="col-md-12" style="text-align:center;"><span class="text-white">2022 © Copyright - All Rights Reserved. |
         Created by <a href="mailto:alhassan.dramani@ashesi.edu.gh" style="color:yellow;">Dramani Alhassan</a></span></div>
      </div>
    </div>
</footer>
  <!-- Javascript-->
  <!-- Libs JS -->
<script src="assets/libs/jquery/dist/jquery.min.js"></script>
<script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="assets/libs/slick-carousel/slick/slick.min.js"></script>
<script src="assets/libs/simplebar/dist/simplebar.min.js"></script>
<script src="assets/libs/nouislider/dist/nouislider.min.js"></script>
<script src="assets/libs/wnumb/wNumb.min.js"></script>
<script src="assets/libs/rater-js/index.js"></script>
<script src="assets/libs/prismjs/prism.js"></script>
<script src="assets/libs/prismjs/components/prism-scss.min.js"></script>
<script src="assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<!-- Theme JS -->
<script src="assets/js/theme.min.js"></script>

</body>
</html>