<!DOCTYPE html>
<html lang="en">
<head>

  <title>Divanta Category</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon/favicon.ico">

  <!-- Libs CSS -->
  <link href="assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet" />
  <link href="assets/libs/slick-carousel/slick/slick.css" rel="stylesheet" />
  <link href="assets/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet" />
  <link href="assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
  <link href="assets/libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
  <link href="assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
  <link href="assets/libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
  <link href="assets/libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="assets/css/theme.min.css">
<body>
  <style>
    .fa.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
  </style>
  <!-- navigation -->
  <header>

    <div class="navbar navbar-light py-lg-4 pt-3 px-0 pb-0">
      <div class="container">
        <div class="row w-100 align-items-center g-lg-2 g-0">
          <div class="col-xxl-2 col-lg-3">
             <a class="navbar-brand d-none d-lg-block" href="index.html">
              <img src="assets/images/logo/6.png" style="width:200px">
            </a>
            <div class="d-flex justify-content-between w-100 d-lg-none">
              <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo/6.png" style="width:200px">
              </a>
              <div class="d-flex align-items-center lh-1">

                <div class="list-inline me-2">
                  <div class="list-inline-item">

                    <a href="account-history.html"><i class='fa fa-user' style="font-size:20px;    
                     color:#284b70"></i></a>
                  </div>
                  <div class="list-inline-item">
                    <a href="favorites.html" class="text-muted position-relative"><i class="fa fa-heart"
                      style="font-size:20px; color:red"></i>
                    <span class="position-absolute translate-middle badge rounded-pill bg-success">
                      2
                    </span>
                  </a>
                  </div>
                </div>
                <!-- Button -->
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="icon-bar top-bar mt-0"></span>
                  <span class="icon-bar middle-bar"></span>
                  <span class="icon-bar bottom-bar"></span>
                </button>

              </div>
            </div>
          </div>
          <div class="col-xxl-6 col-lg-5 d-none d-lg-block">
            <form action="#">
              <div class="input-group">
                <input type="text" class="form-control" id="inputModalSearch" name="query" placeholder="Search ..." >
                <button type="submit" name=search class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
            </form>
          </div>
          <div class="col-md-2 col-xxl-3 d-none d-lg-block">
          </div>
          <div class="col-md-2 col-xxl-1 text-end d-none d-lg-block">
            <div class="list-inline">
              <div class="list-inline-item">
                <a href="favorites.html" class="text-muted position-relative"><i class="fa fa-heart"
                  style="font-size:20px; color:red"></i>
                <span class="position-absolute translate-middle badge rounded-pill bg-success">
                  2
                </span>
              </a>
              </div>
              <div class="list-inline-item">
                <a href="account-history.html"><i class='fa fa-user' style="font-size:20px; color:#284b70"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="border-bottom pb-lg-4 pb-3">
    <nav class="navbar navbar-expand-lg navbar-light navbar-default pt-0 pb-0">
      <div class="container px-0 px-md-3">
        <div class="offcanvas offcanvas-start p-4 p-lg-0" id="navbar-default">

          <div class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none">
            <a href="index-2.html"><img src="assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template"></a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="d-none d-lg-block">
            <ul class="navbar-nav ">
              <li class="nav-item dropdown">
                <a class="nav-link" href="index.html" role="button">
                  Home
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="category.html"><img src='../images/01.png' style="height:30px; width:30px;">
                      &nbsp; Cars</a></li>
                  <li><a class="dropdown-item" href="category.html"><img src='../images/02.png' style="height:30px; width:30px;">
                      &nbsp; Jewelries</a></li>
                  <li><a class="dropdown-item" href="category.html"><img src='../images/03.png' style="height:30px; width:30px;">
                      &nbsp; Watches</a></li>
                  <li><a class="dropdown-item" href="category.html"><img src='../images/04.png' style="height:30px; width:30px;">
                      &nbsp; Electronics</a></li>
                  <li><a class="dropdown-item" href="category.html"><img src='../images/05.png' style="height:30px; width:30px;">
                      &nbsp; Sports</a></li>
                  <li><a class="dropdown-item" href="category.html"><img src='../images/06.png' style="height:30px; width:30px;">
                      &nbsp; Houses</a></li>
                  <li><a class="dropdown-item" href="category.html"><img src='../images/07.png' style="height:30px; width:30px;">
                      &nbsp; Art</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Auctions Ending
                </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link" href="about.html" role="button">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html" role="button" aria-expanded="false">
                  Contact
                </a>
              </li>
            </ul>
          </div>
          <div class="d-block d-lg-none">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" href="index.html">
                  Home
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href=""><img src='../images/01.png' style="height:30px; width:30px;">
                      &nbsp; Cars</a></li>
                  <li><a class="dropdown-item" href=""><img src='../images/02.png' style="height:30px; width:30px;">
                      &nbsp; Jewelries</a></li>
                  <li><a class="dropdown-item" href=""><img src='../images/03.png' style="height:30px; width:30px;">
                      &nbsp; Watches</a></li>
                  <li><a class="dropdown-item" href=""><img src='../images/04.png' style="height:30px; width:30px;">
                      &nbsp; Electronics</a></li>
                  <li><a class="dropdown-item" href=""><img src='../images/05.png' style="height:30px; width:30px;">
                      &nbsp; Sports</a></li>
                  <li><a class="dropdown-item" href=""><img src='../images/06.png' style="height:30px; width:30px;">
                      &nbsp; Houses</a></li>
                  <li><a class="dropdown-item" href=""><img src='../images/07.png' style="height:30px; width:30px;">
                      &nbsp; Art</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Auction Ending
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="about.html" role="button" aria-expanded="false">
                  About Us
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="contact.html" role="button">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html" role="button" aria-expanded="false">
                  About Us
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <main>
  <!-- section -->
  <div class="mt-8 mb-lg-14 mb-8">
    <div class="container">
      <div class="row gx-10">
        <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
          <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50 " tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
          
            <div class="offcanvas-header d-lg-none">
              <button type="button" class="btn-close" style="margin-left: auto;"  data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ps-lg-2 pt-lg-0">
              <h4 class="mb-3 text-center">Filter Result</h4>
          <div class="mb-8">
            <h5>Location</h5>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Ashanti Region
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" >
              <label class="form-check-label">
                Central Region 
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" checked>
              <label class="form-check-label">
                Greater Accra Region
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Brong Ahafo Region 
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" >
              <label class="form-check-label">
                Eastern Region
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" >
              <label class="form-check-label">
                Northern Region
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Upper East Region
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" >
              <label class="form-check-label">
                Upper West Region
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" >
              <label class="form-check-label">
                Volta Region
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Western Region
              </label>
            </div>
            <!--End of checkbox-->
          </div>
          <div class="mb-8">
            <h5 class="mb-3">Price Range in GH₵</h5>
              <div class="row col-row">
                <div class="col-md-5">
                  <label>Minimum</label>
                  <input type="number" class="form-control" placeholder="eg. 100">
                </div>
                <div class="col-sm-1"style="margin-top:14px;">
                  <span style="font-size:30px">-</span>
                </div>
                <div class="col-md-5">
                  <label>&nbsp;Maximum</label>
                  <input type="number" class="form-control"placeholder="eg. 1000">
                </div>
              </div>
               <center><a href="" class="btn btn-primary" style="margin-top:10px;">Search</a></center> 
              </div>
              <div class="mb-8">
                <h5>Condition</h5>
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                    Brand New
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" >
                  <label class="form-check-label">
                    Foreign Used 
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                   Ghanaian Used
                  </label>
                </div>
              </div>
          <div class="mb-8">
            <h5>Category</h5>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Laptops
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" >
              <label class="form-check-label">
                Mobile Phones 
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" checked>
              <label class="form-check-label">
                Tablets
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
               Digital Camera
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" >
              <label class="form-check-label">
                Earphones
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" >
              <label class="form-check-label">
                Printers
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Keyboards
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" >
              <label class="form-check-label">
                Monitors
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" >
              <label class="form-check-label">
                Speakers
              </label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Televisions
              </label>
            </div>
          </div>
          </div>
        </div>
        </aside>
        <section class="col-lg-9 col-md-12">
          <!-- card -->
          <div class="card mb-4 bg-success border-0">
            <!-- card body -->
            <div class="card-body p-9">
              <h2 class="mb-0 fs-1 text-white"><img src='../images/01.png' style="height:100px; width:100px; margin-right:10px">Electronics</h2>
            </div>
          </div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="row">
          <p class="text-dark"><i class='fa fa-bars'></i> All 21 Results</p>
        </div>
        <div class="ms-2 d-lg-none">
          <a class="btn btn-success text-white" data-bs-toggle="offcanvas" href="#offcanvasCategory" role="button" aria-controls="offcanvasCategory"><i class='fa fa-filter'></i> Filter</a>
        </div>
      </div>
          <!-- row -->
          <div class="row g-4 row-cols-xl-3 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2">
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center  position-relative "> <a href="product_detail.html"><img
                        src="assets/images/products/1.png" style="height:200px" class="mb-3 img-fluid"></a>
                    <div class="card-product-action">
                      <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                          class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Add to Favorites"><i
                          class="bi bi-heart"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Share"><i
                          class="fa fa-share"></i></a>
                    </div>
                  </div>
                  <div style="text-align:center; font-size:20px; color:black">iPhone 14 Pro</div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span style="font-size:16px; color:#277b35">Buy Price</div>
                    <div>
                      <div><span style="font-size:16px; color:#DC143C">Current Bid Price</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><img src="../images/9.png"
                        style="width:55px; height:35px; margin-right:-12px; margin-left:-20px"><span class="text-dark">GH₵
                        13,000</span>
                    </div>
                    <div>
                      <small class="text-warning">
                      </small>
                      <span style="color:black"><img src="../images/10.png"
                          style="width:55px; height:35px; margin-right:-12px;">GH₵ 7,000</span>
                    </div>
                  </div>
                  <div class="d-grid mt-2"><a href="product_detail.html" class="btn btn-primary">
                       Place Bid &nbsp;<i class="fa fa-gavel"></i></a></div>
                  <div class="d-flex justify-content-start text-center mt-3 w-100">
                    <div class="deals-countdown w-100" data-countdown="2023/1/9 00:00:00"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center  position-relative "> <a href="product_detail.html"><img
                        src="assets/images/products/1.png" style="height:200px" class="mb-3 img-fluid"></a>
                    <div class="card-product-action">
                      <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                          class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Add to Favorites"><i
                          class="bi bi-heart"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Share"><i
                          class="fa fa-share"></i></a>
                    </div>
                  </div>
                  <div style="text-align:center; font-size:20px; color:black">iPhone 14 Pro</div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span style="font-size:16px; color:#277b35">Buy Price</div>
                    <div>
                      <div><span style="font-size:16px; color:#DC143C">Current Bid Price</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><img src="../images/9.png"
                        style="width:55px; height:35px; margin-right:-12px; margin-left:-20px"><span class="text-dark">GH₵
                        13,000</span>
                    </div>
                    <div>
                      <small class="text-warning">
                      </small>
                      <span style="color:black"><img src="../images/10.png"
                          style="width:55px; height:35px; margin-right:-12px;">GH₵ 7,000</span>
                    </div>
                  </div>
                  <div class="d-grid mt-2"><a href="product_detail.html" class="btn btn-primary">
                       Place Bid &nbsp;<i class="fa fa-gavel"></i></a></div>
                  <div class="d-flex justify-content-start text-center mt-3 w-100">
                    <div class="deals-countdown w-100" data-countdown="2023/1/9 00:00:00"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center  position-relative "> <a href="product_detail.html"><img
                        src="assets/images/products/1.png" style="height:200px" class="mb-3 img-fluid"></a>
                    <div class="card-product-action">
                      <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                          class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Add to Favorites"><i
                          class="bi bi-heart"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Share"><i
                          class="fa fa-share"></i></a>
                    </div>
                  </div>
                  <div style="text-align:center; font-size:20px; color:black">iPhone 14 Pro</div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span style="font-size:16px; color:#277b35">Buy Price</div>
                    <div>
                      <div><span style="font-size:16px; color:#DC143C">Current Bid Price</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><img src="../images/9.png"
                        style="width:55px; height:35px; margin-right:-12px; margin-left:-20px"><span class="text-dark">GH₵
                        13,000</span>
                    </div>
                    <div>
                      <small class="text-warning">
                      </small>
                      <span style="color:black"><img src="../images/10.png"
                          style="width:55px; height:35px; margin-right:-12px;">GH₵ 7,000</span>
                    </div>
                  </div>
                  <div class="d-grid mt-2"><a href="product_detail.html" class="btn btn-primary">
                       Place Bid &nbsp;<i class="fa fa-gavel"></i></a></div>
                  <div class="d-flex justify-content-start text-center mt-3 w-100">
                    <div class="deals-countdown w-100" data-countdown="2023/1/9 00:00:00"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center  position-relative "> <a href="product_detail.html"><img
                        src="assets/images/products/2.png" style="height:200px" class="mb-3 img-fluid"></a>
                    <div class="card-product-action">
                      <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                          class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Add to Favorites"><i
                          class="bi bi-heart"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Share"><i
                          class="fa fa-share"></i></a>
                    </div>
                  </div>
                  <div style="text-align:center; font-size:20px; color:black">Razor Blade 15</div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span style="font-size:16px; color:#277b35">Buy Price</div>
                    <div>
                      <div><span style="font-size:16px; color:#DC143C">Current Bid Price</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><img src="../images/9.png"
                        style="width:55px; height:35px; margin-right:-12px; margin-left:-20px"><span class="text-dark">GH₵
                        13,000</span>
                    </div>
                    <div>
                      <small class="text-warning">
                      </small>
                      <span style="color:black"><img src="../images/10.png"
                          style="width:55px; height:35px; margin-right:-12px;">GH₵ 7,000</span>
                    </div>
                  </div>
                  <div class="d-grid mt-2"><a href="product_detail.html" class="btn btn-primary">
                    Place Bid &nbsp;<i class="fa fa-gavel"></i></a></div>
                  <div class="d-flex justify-content-start text-center mt-3 w-100">
                    <div class="deals-countdown w-100" data-countdown="2022/12/9 00:00:00"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center  position-relative "> <a href="product_detail.html"><img
                        src="assets/images/products/2.png" style="height:200px" class="mb-3 img-fluid"></a>
                    <div class="card-product-action">
                      <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                          class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Add to Favorites"><i
                          class="bi bi-heart"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Share"><i
                          class="fa fa-share"></i></a>
                    </div>
                  </div>
                  <div style="text-align:center; font-size:20px; color:black">Razor Blade 15</div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span style="font-size:16px; color:#277b35">Buy Price</div>
                    <div>
                      <div><span style="font-size:16px; color:#DC143C">Current Bid Price</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><img src="../images/9.png"
                        style="width:55px; height:35px; margin-right:-12px; margin-left:-20px"><span class="text-dark">GH₵
                        13,000</span>
                    </div>
                    <div>
                      <small class="text-warning">
                      </small>
                      <span style="color:black"><img src="../images/10.png"
                          style="width:55px; height:35px; margin-right:-12px;">GH₵ 7,000</span>
                    </div>
                  </div>
                  <div class="d-grid mt-2"><a href="product_detail.html" class="btn btn-primary">
                    Place Bid &nbsp;<i class="fa fa-gavel"></i></a></div>
                  <div class="d-flex justify-content-start text-center mt-3 w-100">
                    <div class="deals-countdown w-100" data-countdown="2022/12/9 00:00:00"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center  position-relative "> <a href="product_detail.html"><img
                        src="assets/images/products/2.png" style="height:200px" class="mb-3 img-fluid"></a>
                    <div class="card-product-action">
                      <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                          class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Add to Favorites"><i
                          class="bi bi-heart"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Share"><i
                          class="fa fa-share"></i></a>
                    </div>
                  </div>
                  <div style="text-align:center; font-size:20px; color:black">Razor Blade 15</div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span style="font-size:16px; color:#277b35">Buy Price</div>
                    <div>
                      <div><span style="font-size:16px; color:#DC143C">Current Bid Price</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><img src="../images/9.png"
                        style="width:55px; height:35px; margin-right:-12px; margin-left:-20px"><span class="text-dark">GH₵
                        13,000</span>
                    </div>
                    <div>
                      <small class="text-warning">
                      </small>
                      <span style="color:black"><img src="../images/10.png"
                          style="width:55px; height:35px; margin-right:-12px;">GH₵ 7,000</span>
                    </div>
                  </div>
                  <div class="d-grid mt-2"><a href="product_detail.html" class="btn btn-primary">
                    Place Bid &nbsp;<i class="fa fa-gavel"></i></a></div>
                  <div class="d-flex justify-content-start text-center mt-3 w-100">
                    <div class="deals-countdown w-100" data-countdown="2022/12/9 00:00:00"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center  position-relative "> <a href="product_detail.html"><img
                        src="assets/images/products/3.jpg" style="height:200px" class="mb-3 img-fluid"></a>
                    <div class="card-product-action">
                      <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                          class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Add to Favorites"><i
                          class="bi bi-heart"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Share"><i
                          class="fa fa-share"></i></a>
                    </div>
                  </div>
                  <div style="text-align:center; font-size:20px; color:black">Macbook 2022</div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span style="font-size:16px; color:#277b35">Buy Price</div>
                    <div>
                      <div><span style="font-size:16px; color:#DC143C">Current Bid Price</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><img src="../images/9.png"
                        style="width:55px; height:35px; margin-right:-12px; margin-left:-20px"><span class="text-dark">GH₵
                        13,000</span>
                    </div>
                    <div>
                      <small class="text-warning">
                      </small>
                      <span style="color:black"><img src="../images/10.png"
                          style="width:55px; height:35px; margin-right:-12px;">GH₵ 7,000</span>
                    </div>
                  </div>
                  <div class="d-grid mt-2"><a href="product_detail.html" class="btn btn-primary">
                    Place Bid &nbsp;<i class="fa fa-gavel"></i></a></div>
                  <div class="d-flex justify-content-start text-center mt-3 w-100">
                    <div class="deals-countdown w-100" data-countdown="2022/12/9 00:00:00"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center  position-relative "> <a href="product_detail.html"><img
                        src="assets/images/products/3.jpg" style="height:200px" class="mb-3 img-fluid"></a>
                    <div class="card-product-action">
                      <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                          class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Add to Favorites"><i
                          class="bi bi-heart"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Share"><i
                          class="fa fa-share"></i></a>
                    </div>
                  </div>
                  <div style="text-align:center; font-size:20px; color:black">Macbook 2022</div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span style="font-size:16px; color:#277b35">Buy Price</div>
                    <div>
                      <div><span style="font-size:16px; color:#DC143C">Current Bid Price</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><img src="../images/9.png"
                        style="width:55px; height:35px; margin-right:-12px; margin-left:-20px"><span class="text-dark">GH₵
                        13,000</span>
                    </div>
                    <div>
                      <small class="text-warning">
                      </small>
                      <span style="color:black"><img src="../images/10.png"
                          style="width:55px; height:35px; margin-right:-12px;">GH₵ 7,000</span>
                    </div>
                  </div>
                  <div class="d-grid mt-2"><a href="product_detail.html" class="btn btn-primary">
                    Place Bid &nbsp;<i class="fa fa-gavel"></i></a></div>
                  <div class="d-flex justify-content-start text-center mt-3 w-100">
                    <div class="deals-countdown w-100" data-countdown="2022/12/9 00:00:00"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center  position-relative "> <a href="product_detail.html"><img
                        src="assets/images/products/3.jpg" style="height:200px" class="mb-3 img-fluid"></a>
                    <div class="card-product-action">
                      <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                          class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Add to Favorites"><i
                          class="bi bi-heart"></i></a>
                      <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Share"><i
                          class="fa fa-share"></i></a>
                    </div>
                  </div>
                  <div style="text-align:center; font-size:20px; color:black">Macbook 2022</div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span style="font-size:16px; color:#277b35">Buy Price</div>
                    <div>
                      <div><span style="font-size:16px; color:#DC143C">Current Bid Price</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><img src="../images/9.png"
                        style="width:55px; height:35px; margin-right:-12px; margin-left:-20px"><span class="text-dark">GH₵
                        13,000</span>
                    </div>
                    <div>
                      <small class="text-warning">
                      </small>
                      <span style="color:black"><img src="../images/10.png"
                          style="width:55px; height:35px; margin-right:-12px;">GH₵ 7,000</span>
                    </div>
                  </div>
                  <div class="d-grid mt-2"><a href="product_detail.html" class="btn btn-primary">
                    Place Bid &nbsp;<i class="fa fa-gavel"></i></a></div>
                  <div class="d-flex justify-content-start text-center mt-3 w-100">
                    <div class="deals-countdown w-100" data-countdown="2022/12/9 00:00:00"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-8">
            <div class="col">
              <nav>
                <ul class="pagination pagination-md justify-content-end">
                  <li class="page-item">
                    <a class="page-link  mx-1 rounded-3 text-body" href="#" aria-label="Previous">
                      <i class="feather-icon icon-chevron-left"></i>
                    </a>
                  </li>
                  <li class="page-item "><a class="page-link  mx-1 rounded-3 active" href="#">1</a></li>
                  <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">2</a></li>

                  <li class="page-item disabled"><a class="page-link mx-1 rounded-3 text-body" href="#">...</a></li>
                  <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">12</a></li>
                  <li class="page-item">
                    <a class="page-link mx-1 rounded-3 text-body" href="#" aria-label="Next">
                      <i class="feather-icon icon-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>

  <!-- Modal for buying product-->
  <div class="modal fade" id="BuyProduct" tabindex="-1" aria-labelledby="BuyProductLabel" aria-hidden="true">
    <div class="modal-dialog">
      <!-- modal content -->
      <div class="modal-content">
        <!-- modal header -->
        <div class="modal-header">
          <h5 class="modal-title" id="BuyProductLabel">Buying Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- modal body -->
        <div class="modal-body">
          <h6>Are you sure you want to purchase this product?</h6>
          <p class="text-dark" style="line-height:2em">
           <br> Submitting this purchase means that you accept this product and are willing to purchase it for <strong>GH₵ 13,000</strong>.
            <br>Also, you have agreed to our <a href=''>terms and conditions</a> for Divanta Auction System.
           Click the 'Buy Now' button to the right to proceed. <br>Otherwise, click on cancel to go back or close the window. Once you move from here, you cannot cancel it.</p>
        </div>
        <!-- modal footer -->
        <div class="modal-footer">
          <!-- btn -->
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Modal for bidding product-->
   <div class="modal fade" id="BidProduct" tabindex="-1" aria-labelledby="BidProductLabel" aria-hidden="true">
    <div class="modal-dialog">
      <!-- modal content -->
      <div class="modal-content">
        <!-- modal header -->
        <div class="modal-header">
          <h5 class="modal-title" id="BidProductLabel">Bidding Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- modal body -->
        <div class="modal-body">
          <h6>Are you sure you want to bid for this product?</h6>
          <p class="text-dark" style="line-height:2em">
           <br> By placing a bid, you agree and accepted this product and adhere to follow through if your bid is chosen as the winner. <br>Your bid is <strong>GH₵ 13,000</strong>.
            <br>Also, you have agreed to our <a href=''>terms and conditions</a> for Divanta Auction System.
           Click the 'Bid Now' button to the right to proceed. <br>Otherwise, click on cancel to go back or close the window. Once you move from here, you cannot cancel it.</p>
        </div>
        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Bid Now</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal for displaying product -->
  <div class="modal fade" id="quickViewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-8">
          <div class="position-absolute top-0 end-0 me-3 mt-3">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <!-- img slide -->
              <div class="product productModal" id="productModal">
                <div class="zoom" onmousemove="zoom(event)" style="
                  background-image: url(assets/images/products/2.png);
                ">
                  <!-- img -->
                  <img src="assets/images/products/2.png" style="height:400px" alt="" />
                </div>
                <div>
                  <div class="zoom" onmousemove="zoom(event)" style="
                    background-image: url(assets/images/products/2a.png);
                  ">
                    <!-- img -->
                    <img src="assets/images/products/2a.png" style="height:400px" alt="" />
                  </div>
                </div>
                <div>
                  <div class="zoom" onmousemove="zoom(event)" style="
                    background-image: url(assets/images/products/2b.png);
                  ">
                    <!-- img -->
                    <img src="assets/images/products/2b.png" style="height:400px" alt="" />
                  </div>
                </div>
                <div>
                  <div class="zoom" onmousemove="zoom(event)" style="
                    background-image: url(assets/images/products/2c.png);
                  ">
                    <!-- img -->
                    <img src="assets/images/products/2c.png"style="height:400px" alt="" />
                  </div>
                </div>
              </div>
              <!-- product tools -->
              <div class="product-tools">
                <div class="thumbnails row g-3" id="productModalThumbnails">
                  <div class="col-3">
                    <div class="thumbnails-img">
                      <!-- img -->
                      <img src="assets/images/products/2.png" alt="" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="thumbnails-img">
                      <!-- img -->
                      <img src="assets/images/products/2a.png" alt="" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="thumbnails-img">
                      <!-- img -->
                      <img src="assets/images/products/2b.png" alt="" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="thumbnails-img">
                      <!-- img -->
                      <img src="assets/images/products/2c.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ps-lg-8 mt-6 mt-lg-0">
                <h2 class="mb-1 h1">Razor Blade 15</h2>
                <a href="product_detail.html" class="btn btn-dark">View product details</a>
                <hr class="my-6" />
                <div class="mb-4">
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span style="font-size:16px; color:#DC143C">Current Bid Price</div>
                    <div><span style="font-size:16px; color:#277b35; padding-right:20px">Buy Price</div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div>
                      <span style="color:black"><img src="../images/10.png"
                          style="width:55px; height:35px; margin-right:-12px;">GH₵ 7,000</span>
                    </div>
                    <div><img src="../images/9.png"
                      style="width:55px; height:35px; margin-right:-12px;"><span class="text-dark">GH₵
                      13,000</span>
                  </div>
                  </div>
                </div>
                <div>
                  <!--Amount and buy button-->
                  <div class="row">
                    <div class="col-6">
                      <label class="text-dark">Enter Bid Amount</label>
                      <input type="text" class="form-control" id="amount" onkeydown="keyDown(event)" Placeholder="Minimum bid: GH₵ 7001" maxlength="8">
                    </div>
                  <div class="col-6">
                    <label class="text-dark">Buy Product</label>
                    <button type="button" class="btn btn-success" style="width:100%" data-bs-toggle="modal" data-bs-target="#BuyProduct">
                      Buy Now &nbsp;<i class="fa fa-money"></i></button>
                    </div>
                  </div>
                <div class="mt-3 row justify-content-start g-2 align-items-center">
                  <div class="col-lg-4 col-md-5 col-6 d-grid">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BidProduct">
                      Place Bid &nbsp;<i class="fa fa-gavel"></i></button>
                  </div>
                  <div class="col-md-4 col-5">
                    <a class="btn btn-light" href="shop-Add to Favorites.html" data-bs-toggle="tooltip" data-bs-html="true"
                      aria-label="Add to Favorites"><i class="fa fa-heart-o" style="color:red"></i></a>
                    <a class="btn btn-light" href="#" data-bs-toggle="tooltip" data-bs-html="true"
                      aria-label="Share"><i class="fa fa-share"></i></a>
                  </div>
                </div>
                <hr class="my-6" />
                <div>
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Product Code:</td>
                        <td>FBB00255</td>
                      </tr>
                      <tr>
                        <td>Number of Bids:</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>Condition:</td>
                        <td>Brand New</td>
                      </tr>
                      <tr>
                        <td>Color:</td>
                        <td>
                          Black
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
          <div class="col-md-3">
            <h3 class="mb-4 text-white">Categories</h3>
            <ul class="nav flex-column border-top py-4">
              <li class="nav-item mb-2"><a href="category.html" class="nav-link"><img src='../images/01.png' style="height:30px; width:30px"> Cars</span></a></li>
              <li class="nav-item mb-2"><a href="category.html" class="nav-link"><img src='../images/02.png' style="height:30px; width:30px"> Jewelries</a></li>
              <li class="nav-item mb-2"><a href="category.html" class="nav-link"><img src='../images/03.png' style="height:30px; width:30px"> Watches</a></li>
              <li class="nav-item mb-2"><a href="category.html" class="nav-link"><img src='../images/04.png' style="height:30px; width:30px"> Electronics</a></li>
              <li class="nav-item mb-2"><a href="category.html" class="nav-link"><img src='../images/05.png' style="height:30px; width:30px"> Sports</a></li>
              <li class="nav-item mb-2"><a href="category.html" class="nav-link"><img src='../images/06.png' style="height:30px; width:30px"> Houses</a></li>
              <li class="nav-item mb-2"><a href="category.html" class="nav-link"><img src='../images/07.png' style="height:30px; width:30px"> Art</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="mb-4 text-white">Further Information</h3>
            <ul class="nav flex-column border-top py-4">
              <li class="nav-item mb-2"><a href="#!" class="nav-link">FAQ</a></li>
              <li class="nav-item mb-2"><a href="#!" class="nav-link">Want to donate?</a></li>
              <li class="nav-item mb-2"><a href="../login/seller_register.html" class="nav-link">Want to be a seller?</a></li>
              <li class="nav-item mb-2"><a href="#!" class="nav-link">Want to Report?</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="mb-4 text-white">Get to know us</h3>
            <ul class="nav flex-column border-top py-4">
              <li class="nav-item mb-2"><a href="about.html" class="nav-link">Company</a></li>
              <li class="nav-item mb-2"><a href="about.html" class="nav-link">About</a></li>
              <li class="nav-item mb-2"><a href="contact.html" class="nav-link">Help Center</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="mb-4 text-white">Reach us on</h3>
            <ul class="nav flex-column border-top py-4">
              <li class="nav-item mb-2"><a href="https://wa.me/233553058208"><i class="fa fa-twitter fa-2x" style="color:#4169e1"></i> <span class='text-white'>Twitter</span></a></li>
              <li class="nav-item mb-2"><a href="https://wa.me/233553058208"><i class="fa fa-instagram fa-2x"></i><span class='text-white'>&nbsp; Instagram</span></a></li>
              <li class="nav-item mb-2">  <a href="https://wa.me/233553058208"><i class="fa fa-whatsapp fa-2x"style="color:green"></i> <span class='text-white'>&nbsp;WhatsApp</span></a></li>
            </ul>
          </div>
        
      </div>
    </div>
    <div class="border-top py-4">
      <div class="row align-items-center" >
        <div class="col-md-12" style="text-align:center;"><span class="text-white">2022 © Copyright - All Rights Reserved. |
         Created by <a href="mailto:alhassan.dramani@ashesi.edu.gh" style="color:yellow;">Dramani Alhassan</a></span></div>
      </div>
    </div>
</footer>
    <!-- Javascript-->
    <!-- Libs JS -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="assets/libs/slick-carousel/slick/slick.min.js"></script>
    <script src="assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="assets/libs/nouislider/dist/nouislider.min.js"></script>
    <script src="assets/libs/wnumb/wNumb.min.js"></script>
    <script src="assets/libs/rater-js/index.js"></script>
    <script src="assets/libs/prismjs/prism.js"></script>
    <script src="assets/libs/prismjs/components/prism-scss.min.js"></script>
    <script src="assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="assets/libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
    <!-- Theme JS -->
    <script src="assets/js/theme.min.js"></script>
    <script>
      function keyDown(e) { 
    var e = window.event || e;
    var key = e.keyCode;
    //space pressed
     if (key == 32) { //space
      e.preventDefault();
     }      
  }
    </script>
    <script>
      var validate = function(e) {
          var t = e.value;
          e.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 3)) : t;
      }
  </script>
  </body>
  
  </html>